{% extend 'base.html' %}

{% block title %}
	About
{% endblock %}

{% block content %}
	<section id="about">
		<h1>About</h1>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-4">
					<!-- <img src="img/profil.png"> -->
				</div>
				<div class="col-6 col-md-4" id="first">
					<p>Full Name</p>
				    <p>Nickname</p>
				    <p>Birthday</p>
				    <p>Address</p>
				    <p>Phone</p>
				    <p>Web</p>
				    <p>Hobby</p>
				</div>
				<div class="col-6 col-md-4">
					<p>Anatasya Dwijayanti Chang</p>
				    <p>Ana</p>
				    <p>30 Oktober 2000</p>
				    <p>Perumnas, Bekasi</p>
				    <p>+62 85770356131</p>
				    <p>anatasyadwijayanti.herokuapp.com</p>
				    <p>Listening to music and watching korean drama</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}	