<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block title %} {% endblock %}</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

</head>
<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  
  		<div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    		<ul class="navbar-nav">
    			<li class="nav-item">
        			<a class="nav-link" href="#home">Home</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#about">About</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#skill">Skill</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#experience">Experience</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="galeri.html" target="_blank">Gallery</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#contact">Contact</a>
      			</li>
    		</ul>
  		</div>
  		</div>
	</nav>

	{% block content %} {% endblock %}
	
	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>