{% extend 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<header id="home">
		<div class="row">
		  <div class="col-4">
		  	<!-- <img src="img/foto header.jpg" class="img-responsive"> -->
		  </div>
		  <div class="col-8 align-self-center text-center">
		  	<h1 class="font-weight-bold">Anatasya<br>Dwijayanti</h1>
		  	<h4>Information System Student</h4>
		  	<h4>Universitas Indonesia</h4>	
		  </div>
		</div>
	</header>
{% endblock %}	